<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
        .grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        }

        .box {
            border: 1px solid grey;
            background: pink;
        }

        .card-hover .reveal {
            visibility: hidden;
            opacity: 0;
            height: 0;
            padding: 0;
        }

        .card-hover:hover .reveal {
            height: auto;
            visibility: visible;
            opacity: 10;
            transition: opacity 1s ease;
        }
    </style>
</head>
<body>
    <% if(alerts.error) {%>
        <% alerts.error.forEach(message => { %>
          <div class="alert alert-danger mb-0">
            <%= message %>
          </div>
        <% })} %>
        <% if(alerts.success) {%>
          <% alerts.success.forEach(message => { %>
            <div class="alert alert-success mb-0">
              <%= message %>
            </div>
          <% })} %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/list">Mutual Aid Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if (currentUser != null && currentUser.isSenior == true) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/list/new">Create List</a>
                    </li>
                <% } %>
                  <% if(currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/list/mylists/">My Lists</a>
                    </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/login">Login</a>
                </li>
              <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/register">Register</a>
                </li>
              </ul>
            </div>
          </nav>
    <%- body %>
</body>
</html>