<div class="container">
    <div class="row">
        <div class="col-md-5 mt-5 mx-auto">
            <form id="form" action="/list/new" method="post">
                <div id="sub-form">
                    <input type="text" name="item" placeholder="item" class="form-control"/>
                    <input type="number" name="qty" class="form-control" placeholder="1">
                </div>
                <div class="mt-3">
                    <p class="btn btn-primary btn-block mt-3" id="add">Add new item</p>
                    <button type="submit" class="btn btn-primary btn-block">Create List</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("add").addEventListener('click', addItem);
    function addItem(event) {
        let input = document.createElement("input");
        let qty = document.createElement("input");
        let div = document.createElement("div");
        input.classList.add('form-control');
        qty.classList.add('form-control');
        input.name = "item";
        input.placeholder = "item";
        qty.type = "number";
        qty.name = "qty";
        qty.placeholder = "1";
       
        div.appendChild(input);
        div.appendChild(qty);
        document.getElementById("sub-form").appendChild(div);
    }
</script>